# Restricted Image Formats
*.[bB][mM][pP]
*.[dD][dD][sS]
*.[gG][iI][fF]
*.[iI][cC][oO]
*.[pP][sS][dD]
*.[rR][aA][wW]
*.[sS][vV][gG]
*.[tT][gG][aA]
*.[tT][iI][fF]
*.[tT][iI][fF][fF]
*.[wW][eE][bB][pP]
*.[xX][cC][fF]
